p{
  font-family:Arial;
  width:500px;
}

.code1-text{
  font-weight:bold;
  font-size:20px;
  margin-bottom:5px;
}

.codespan-text{
  color:rgb(116, 114, 114);
  font-weight: lighter;
}

.content-text{
  line-height:20px;
  margin-top:0px;
  margin-bottom:19px;
}

.contentspan-text{
  color:rgb(62, 62, 236);
  
}